<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <p class="app-name">Voting App</p>
      <ul class="nav">
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/create">Create Poll</a></li>
        <li><a href="/users">Voting App Users</a></li>
        <li><a href="/my-polls">My Polls</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div class="section row">
      <div class="col span-1-of-2">
        <h2><%= doc.title %></h2>
        <form action="/auth/poll/<%= doc['_id'] %>" method="post" class="form">
          <ul>
          <% var choices = Object.keys(doc.options);
            for (i = 0; i < choices.length; i++) { %>
              <li><input type="radio" name="options" value="<%= choices[i] %>"><%= choices[i] %></li>
          <% } %>
          </ul>
          <a href="/add-option/<%= doc['_id'] %>" class="add-option">Add Another Option</a>
          <button type="submit" class="btn-submit">Submit</button>

        </form>
      </div>
      <div class="col span-1-of-2">
        <div>
          <canvas id="chart" height="400" width="400">
          </canvas>
        </div>
      </div>
    </div>
    <input type="hidden" value="<%= JSON.stringify(doc.options) %>" id="chartOptions" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="/pie-chart.js"></script>
  </body>
</html>
