<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <ul class="header">
      <li><a href="/create">Create Poll</a></li>
      <li><a href="/my-polls">My Polls</a></li>
      <li><a href="/users">Voting App Users</a></li>
      <li><a href="/logouts">Log Out</a></li>
    </ul>
    <div class="section row">
      <div class="col span-1-of-2">
        <h2><%= title %></h2>
        <form action="/auth/<%= creator %>/<%= title %>">
          <ul>
          <% var choices = Object.keys(options);
            for (i = 0; i < choices.length; i++) { %>
              <li><input type="radio" name="options" value="<%= choices[i] %>"><%= choices[i] %></li>
          <% } %>
          </ul>
          <button type="submit" class="btn btn-full">Submit</button>
          <a href="/add-option/<%= creator %>/<%= title %>" class="btn btn-ghost">Add Another Option</a>
        </form>
      </div>
      <div class="col span-1-of-2">
        <div>
          <canvas id="chart"></canvas>
        </div>
      </div>
    </div>
    <script src="pie-chart.js"></script>
  </body>
</html>
